{% extends "layout.twig" %}

{% set menu_selected = 'home' %}

{% block title %}accueil{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>Ajouter voter aide pour un cours d'une matière</h2>
            <form class="container" method="POST"  action="{{ path('ajout_aide') }}">
                <br><br>

                <div class="col-xs-4"><h4>La matière dans laquelle vous proposez un soutien</h4>
                    <!-- Page Heading/Breadcrumbs -->
                    <h1 class="mt-4 mb-3">

                        <p>Veuillez choisir la matière concernée</p>
                        <select name="matiere" class="selectpicker" data-style="btn-primary" multiple="multiple" required>
                            <option value="BD" selected>BD</option>
                            <option value="JAVA">Java</option>
                            <option value="C">C</option>
                        </select>
                    </h1>
                    <br>

                    <h4>Intitulé du cours</h4>
                    <p>
                        <input type="text" placeholder="Intitulé du cours" class="form-control" value="" name="nomCours" required>
                    </p>


                    <br>

                    <h4>Description de ce que vous proposez</h4>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group row">
                                <script type="text/javascript" src="{{ app.request.basepath }}/web/ckeditor/ckeditor.js"></script>
                                <div class="col-sm-12">
                                    <textarea id="editorDesc" class="form-control" name="description" placeholder="Descrivez ici" rows="6" required></textarea>
                                </div>
                                <script type="text/javascript">
                                    CKEDITOR.config.justifyClasses = [ 'AlignLeft', 'AlignCenter', 'AlignRight', 'AlignJustify' ];
                                    CKEDITOR.extraPlugins='justify';

                                    CKEDITOR.replace( 'editorDesc' );
                                </script>
                            </div>
                        </div>
                    </div>

                    <h1 class="mt-4 mb-3">

                        <p>Veuillez choisir le niveau du cours:</p>
                        <select name="niveau" class="selectpicker" data-style="btn-primary" required>
                            <option value="L1">L1</option>
                            <option value="L2">L2</option>
                            <option value="L3">L3</option>
                            <option value="M1">M1</option>
                            <option value="M2">M2</option>
                        </select>
                    </h1>
                    <br>


                    <br>

                        <button type="submit" class="btn btn-success" onclick="alert('Votre aide a été ajoutée avec succès! Cliquez sur OK pour être redirigé vers tous les aides disponibles')";>Ajouter</button>
                        <br><br>
                </div>
            </form>
        </div>
    </div>
{% endblock %}