{% extends "layout.twig" %}

{% set menu_selected = 'liste_evenement' %}

{% block title %}Liste des evenements{% endblock %}

{% block content %}
   <br>
    <div class="wrapper style1">

        <section id="features" class="container special ">
            <header>
                <h2>Liste des evenements</h2>
            </header>
            <div class="row" >
                {% if evenements['tous'] is not empty %}

                    {% for evenement in evenements['tous'] %}
                    <article style="cursor: pointer; height:800px" onclick="parent.location='{{ path('evenement_detail', {'id': evenement.idEvenement }) }}'"  class="4u 12u(mobile) special">
                        <a  class="image featured"><img style="height: 350px;" src="web/images/{{ evenement.image }}" alt=""/></a>
                        <header>
                            <h3><a>{{ evenement.titre }}</a></h3>
                        </header>
                        <p style="overflow: auto; max-height: 15em;">
                            {{ evenement.description|raw }}
                        </p>
                    </article>
                {% endfor %}

                {% else %}
                    <strong style="color: red">Il n'y a actuellement aucun évenement à venir</strong>
                {% endif %}
            </div>
        </section>

    </div>

{% endblock %}