{% extends "layout.twig" %}

{% set menu_selected = 'liste_evenement' %}

{% block title %}Liste des Cours{% endblock %}

{% block content %}
    <br>
    <div class="wrapper style1">

        <section id="features" class="container special">
            <header>
                <h2>Liste des Cours</h2>
            </header>
            <br>
            <div class="row">
                {% for cours in cours['tous'] %}
                    <article onclick="parent.location='{{ path('cours_detail', {'id': cours.idCours }) }}'"
                             class="4u 12u(mobile) special">
                        <a class="image featured"><img src="web/images/{{ cours.image }}" alt=""/></a>
                        <header>
                            <h3><a>{{ cours.nom }}</a></h3>
                        </header>
                        <p>
                            {{ cours.description }}
                        </p>
                    </article>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}